/* Contenedor del loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 9999; /* Asegura que esté encima de otros elementos */
  }
  
  /* Estilo del loader circular */
  .loader {
    border: 10px solid #f3f3f3; /* Color del borde */
    border-top: 10px solid #d6c10a; /* Color del borde en la parte superior */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; /* Animación de rotación */
  }
  
  /* Animación para la rotación */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  