.success-container {
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .success-container h2 {
    font-size: 2rem;
    color: #373737;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
  }
  
  .success-container p {
    font-size: 1rem;
    color: #34495e;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .success-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .success-container ul li {
    background-color: #3c3c3c;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #2c3e50;
  }
  
  .success-container ul li strong {
    font-size: 1.1rem;
    color: #e8ae10;
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .success-container ul li span {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #dce0bf;
    text-align: center;

  }
  
  .success-container ul li:last-child {
    margin-bottom: 0;
  }
  
  .success-container ul li .product-details {
    margin-top: 10px;
    font-size: 1rem;
    color: #eceacb;
    text-align: center;
  }
  
  .success-container ul li .product-details span {
    font-weight: bold;
    color: #ffffff;
  }
  
  .success-container a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .success-container a:hover {
    background-color: #3498db;
  }
  
  .success-container .loading {
    text-align: center;
    font-size: 1.2rem;
    color: #7f8c8d;
  }
  
  .error-message {
    color: red;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
  }
  