.nav-link-custom {
  color: rgb(201, 158, 103) !important; /* Aplica el color deseado */
  margin: 0 10px 0 10px;
}
.nav-link-customimg {
  filter: invert(1); /* Cambia el color del logo si es un SVG blanco */
}
