.navbar {
  width: 90%;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.navbar-brand img {
  width: 180px;
  height: auto;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-flex {
  margin-left: auto;
}

.navbar .dropdown-menu {
  min-width: 200px;
}

.dropdown-divider {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    padding: 20px 20px 20px 20px;
  }

  .navbar-brand img {
    width: 130px;
  }

  .navbar-nav {
    flex-direction: column;
  }
}

.nav-link-custom {
  color: #c99e67;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

.dropdown-menu {
  background-color: #c99e67;
}

.dropdown-item {
  transition-duration: 1000ms;
}
.dropdown-item:hover {
  color: #0a0a0a;
  background-color: transparent;
  letter-spacing: 2px;
}

.navbar-toggler {
  background-color: #c99e67;
}
